extends layout

block header
  if paymentLink
    .banner
      .message
        strong Bezahllink erfolgreich erstellt! &nbsp;
        span.secondary-text= paymentLink
        button.copy-payment-link(data-clipboard-text=paymentLink) &nbsp;
                      img(src="/images/copy.svg", alt="Bezahllink kopieren")
  else if showBanner
    .banner
      .message
        strong Klasse! Ihr Zugang ist nun eingerichtet. 
        span.secondary-text Fangen Sie gleich an mit Ihren Leistungen Geld zu verdienen.

  if showPaymentLinkBanner
    .banner
      .message
        strong Klasse! Ihr Zugang ist nun eingerichtet. 
        span.secondary-text Fangen Sie gleich an mit Ihren Leistungen Geld zu verdienen.
block content
  .dashboard
    .user
      .block.profile
        .photo
        p Konto seit #{moment(serviceVendor.created).format('MMM YYYY')}
        h1 #{serviceVendor.displayName()}
        h2
          a(href='/serviceVendors/stripe/dashboard?account=true') Stripe Account anzeigen

      .block.week
        p Diese Woche
        h1 €#{(offeringsTotalAmount / 100).toFixed(2)}
        h2 #{offerings.length} Aufträge
      .block.available
        p Ihr Kontostand
        h1 #{balanceCurrency}#{((balanceAvailable + balancePending) / 100).toFixed(2)}
        h2  #{balanceCurrency}#{(balanceAvailable / 100).toFixed(2)} verfügbar
      .block.stripe
        form.payout(action='/serviceVendors/stripe/payout', method='POST', autocomplete='off')
          input(class='primary' type='submit', value='Auszahlung anfordern' disabled=(balanceAvailable===0))
        p
          a(href='/serviceVendors/stripe/dashboard') Auszahlungen in Stripe öffnen
    section.payment-links
      h4 Stripe Bezahllinks
      fieldset
        legend Produkte
        each product in products
              .row
                .cell.name #{product.name}
                  span.product-id &nbsp;
                    button.copy-product-id(data-clipboard-text=product.id)
                      img(src="/images/copy.svg", alt="Produkt-ID kopieren")
                .cell.price €#{(product.price / 100).toFixed(2)}
                .cell.actions
                  form(action="/serviceVendors/stripe/paymentLink", method="POST")
                    input(type="hidden", name="priceId", value=product.priceId)
                    button.create-payment-link.button-secondary(type="submit") Link erstellen
                    input.custom-amount(type="number", name="quantity", min="1", value="1")
      fieldset
        legend Benutzerdefiniertes Produkt
        .row
          .cell.name
            input.custom-product-text(type="text", placeholder="Produktname")
          .cell.price
            input.custom-product-price(type="number", min="0", step="0.01", placeholder="Preis")
          .cell.actions
            button.create-custom-payment-link.button-secondary Link erstellen
    //-section.offerings
      h4 Vergangene Aufträge
      if offerings.length > 0
        .list
          each offering in rides
            .row
              .cell.name= offering.customer.displayName()
              .cell.date= moment(new Date(Date.parse(offering.created))).calendar()
              .cell.price €#{(offering.amountForServiceVendor() / 100).toFixed(2)}
      else
        .no-offerings
          .rocket
          h1 Bisher keine Aufträge
          h2 &nbsp;
block footer
  .annotation.card.dashboard-banner.payment-link-popup(class=(paymentLink ? '' : 'hidden'))
    //button.close-popup(type="button") &times;
    h4 Bezahllink erstellt
    p Der Stripe Bezahllink wurde erfolgreich estellt::
    p.payment-link= paymentLink
    button.copy-payment-link(data-clipboard-text=paymentLink) Link kopieren

  .annotation.card.dashboard-simulate.hidden(class=(showBanner ? 'hidden' : ''))
    h4 Simulate a customer offering to create a payment for this serviceVendor.
      a.show-more(href="#") &nbsp;(show more)
    .description
      ol
        li The balance is automatically fetched from the Stripe API.
        li #[strong View payouts on Stripe] lets serviceVendors see their payouts or edit their account information.
        li #[strong Pay out now] uses the Stripe API to #[a(href="https://stripe.com/docs/connect/payouts" target="_blank") generate a payout] of the available balance.
    form.right(action='/serviceVendors/offerings', method='POST', autocomplete='off')
      input(type='submit', name="immediate_balance", value='Auftrag erstellen', class='primary-action')




    script.
      document.querySelector('.copy-payment-link')?.addEventListener('click', function() {
        const paymentLink = this.getAttribute('data-clipboard-text');
        navigator.clipboard.writeText(paymentLink);
      });

      document.querySelectorAll('.copy-product-id').forEach(button => {
        button.addEventListener('click', () => {
          const productId = button.dataset.clipboardText;
          navigator.clipboard.writeText(productId);
        });
      });